<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            android:supportsPictureInPicture="true"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:theme="@style/Theme.Flixclusive"
            tools:node="merge"
            tools:targetApi="24" />
    </application>
</manifest>
