name: PR Build Check

on: [pull_request]

permissions:
  contents: read

concurrency:
  group: "pull request build"
  cancel-in-progress: true

jobs:
  build:
    name: Build app
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: adopt

      - name: Assemble release APK
        uses: gradle/gradle-command-action@v2
        with:
          arguments: :app:assembleRelease